html {
    background-color: hsl(233, 47%, 7%);
}

body {
    font-size: 15px;
}

.attribution { 
    font-size: 11px;
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%);
 }

.img {
    place-content: left;
}

.card {
    width: 150vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(244, 38%, 16%);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}